.popup-menu { 
  display: block;
  font-size: 15px;
  min-width: 150px;
  margin-top: 0px;
}

.logo {
  width           : 246px;
  margin-left     : 1px;
}

.social {
  width           : 100%;
  display         : inline-block;
  text-align      : center;
}

.social-facebook, .social-twitter {
  width           : 40px;
  height          : 30px;
  margin-left     : 10px;
  margin-right    : 10px;
  padding         : 0px;
  padding-top     : 0px;
  padding-left    : 0px;
  padding-right   : 0px;
  padding-bottom  : 0px;   
}

.img-facebook, .img-twitter {
  width           : 40px;
  height          : 30px;
}

#btn_save_page_now, #btn_recent_version, #btn_first_version {
  width           : 240px;
  height          : 35px;
  margin          : 5px;
}  
