<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Internet Archive</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>Wayback Machine</string>
	<key>CFBundleIdentifier</key>
	<string>archive.org.waybackmachine</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.7</string>
	<key>CFBundleVersion</key>
	<string>1.3.7</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<integer>260</integer>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<integer>250</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>Wayback Machine</string>
				<key>Image</key>
				<string>image/Icon-64.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Wayback Machine</string>
				<key>Popover</key>
				<string>popover</string>
				<key>Tool Tip</key>
				<string>Wayback Machine</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Integrates your Safari browser with the Wayback Machine to help make your web surfing more reliable</string>
	<key>DeveloperIdentifier</key>
	<string>ZSFX78H3ZT</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Update Manifest URL</key>
	<string>https://github.com/internetarchive/wayback-machine-safari/blob/master/Info.plist</string>
	<key>Website</key>
	<string>http://web.archive.org</string>
</dict>
</plist>
